<%= form_tag do %>
 

  <div class="field">
    <label for="subj">Subject:</label>
	<%= text_field_tag :subj, params[:subj] %>

    <br />
    
  </div>
  <div class="field">
    <label for="message">Message:</label>
	<%= text_field_tag :message, params[:message] %>

    <br />
    
  </div>
  <div class="field">
   <label for="from">From:</label>
	<%= text_field_tag :from, params[:from] %>

    <br />

  </div>
  <div class="actions">
    <%= submit_tag "Send" %>
  </div>
<% end %>
