<p id="notice"><%= notice %></p>

<p>
  <b>From:</b>
  <%= @contact_us_email.from %>
</p>

<p>
  <b>Message:</b>
  <%= @contact_us_email.message %>
</p>

<p>
  <b>Subject:</b>
  <%= @contact_us_email.subj %>
</p>


<!-- %= link_to 'Edit', edit_contact_us_email_path(@contact_us_email) %> |
<%= link_to 'Back', contact_us_emails_path % -->
