<h1>Listing clients</h1>

<table>
  <tr>
    <th>Contact name</th>
    <th>Email address</th>
    <th>Phone number</th>
    <th>Referral code</th>
    <th>Userid</th>
    <th>Password hash</th>
    <th>Password salt</th>
    <th>Credit balance</th>
    <th>Credit effective date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= client.contact_name %></td>
    <td><%= client.email_address %></td>
    <td><%= client.phone_number %></td>
    <td><%= client.referral_code %></td>
    <td><%= client.userid %></td>
    <td><%= client.password_hash %></td>
    <td><%= client.password_salt %></td>
    <td><%= client.credit_balance %></td>
    <td><%= client.credit_effective_date %></td>
    <td><%= link_to 'Show', client %></td>
    <td><%= link_to 'Edit', edit_client_path(client) %></td>
    <td><%= link_to 'Destroy', client, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Client', new_client_path %>
