<!DOCTYPE html>
<html>
<head>
  <title>Electric Vehicle Charging Stations</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body id="site">
  <div id="banner">
    <%= @page_title || "Electric Vehicle Charging Stations" %>
  </div>
  <div id="columns">
    <div id="side">
	 <a href="/">Home</a><br/>
	 <a href="/clients/new">Sign Up</a><br/>
	 <a href="/login">Login</a><br/>
     <a href="/contact_us_emails/new">Contact Us</a><br/>
     <a href="/logout">Logout</a><br/>
	</div>
	<div id="main">
		<%= yield %>
	</div>
  </div>
</body>
</html>
